#
# File: clojure.yml
#

name: Clojure CI

on:
  push:
    branches: [ "master", "devel" ]
  pull_request:
    branches: [ "master", "devel" ]
  
jobs:

  clojure:

    strategy:
      matrix:
        os: [ubuntu-latest]
        sdk: [21]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '${{ matrix.sdk }}'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.2
        with:
          cli: 1.10.1.693
          lein: 2.9.1        
          bb: 0.7.8
          clj-kondo: 2022.05.31  
          cljfmt: 0.10.2

      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
          key: cljdeps-${{ hashFiles('project.clj') }}
          restore-keys: cljdeps-
      
      - name: Run CI
        run: lein ci
        
      - name: Deploy to Clojars
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/devel'
        run: lein release
        env:
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
