name: Clojure CI + Clojars

on:
  push:
    branches: [ "master", "devel" ]
  pull_request:
    branches: [ "master", "devel" ]

jobs:
  build:
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 21

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@13.5.2
      with:
        cli: 1.12.4.1582

    - name: Install dependencies
      run: clojure -P

    - name: Run tests
      run: clojure -M:test

    - name: Build the JAR
      run: clojure -T:build jar

    - name: Deploy to Clojars
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/devel'
      run: clojure -T:build deploy
      env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
